---
- name: Ensure the VM console log directory exists
  file:
    path: "{{ console_log_path | dirname }}"
    state: directory
    owner: "{{ libvirt_vm_log_owner }}"
    group: "{{ libvirt_vm_log_owner }}"
    recurse: true
    mode: 0770
  when: console_log_enabled | bool
  become: "{{ libvirt_vm_sudo }}"

- name: Validate VM interfaces
  include_tasks: check-interface.yml
  vars:
    interface: "{{ item }}"
  with_items: "{{ interfaces }}"

- name: Ensure the VM is defined
  virt:
    name: "{{ vm.name }}"
    command: define
    xml: "{{ lookup('template', vm.xml_file | default('vm.xml.j2')) }}"
    uri: "{{ libvirt_vm_uri | default(omit, true) }}"
  become: "{{ libvirt_vm_sudo }}"

- name: Ensure the VM is running and started at boot
  virt:
    name: "{{ vm.name }}"
    autostart: "{{ autostart | bool }}"
    state: "{{ 'running' if (start | bool) else 'shutdown' }}"
    uri: "{{ libvirt_vm_uri | default(omit, true) }}"
  become: "{{ libvirt_vm_sudo }}"
