---
- name: Gather os specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution }}-{{ ansible_distribution_major_version}}.yml"
        - "{{ ansible_distribution }}.yml"
        - "{{ ansible_os_family }}.yml"
      skip: true
  tags: vars

- name: Ensure the VM console log directory exists
  file:
    path: "{{ console_log_path | dirname }}"
    state: directory
    owner: "{{ libvirt_vm_qemu_user }}"
    group: "{{ libvirt_vm_qemu_user }}"
    recurse: true
    mode: 0770
  when: console_log_enabled | bool
  become: true

- name: Validate VM interfaces
  include_tasks: check-interface.yml
  vars:
    interface: "{{ item }}"
  with_items: "{{ interfaces }}"

- name: Create secure boot template variables
  include_tasks: prepare-secure-boot.yml
  when:
    - boot_firmware == "efi"
    - libvirt_vm_ovmf_uefi_shell_iso_path is defined

- name: Ensure the VM is defined
  virt:
    name: "{{ vm.name }}"
    command: define
    xml: "{{ lookup('template', 'vm.xml.j2') }}"
  become: true

- name: Ensure the VM is running and started at boot
  virt:
    name: "{{ vm.name }}"
    autostart: "{{ autostart | bool }}"
    state: "{{ 'running' if (start | bool) else 'shutdown' }}"
  become: true
